table {
  border-collapse: collapse; 
  background:white;
  text-align: center;
  border-radius:6px;
  margin: 1rem 10%;
  width: 80%;
}

.thead {
  background-color: #666;
  padding: 1rem;
}

.trow {
  background-color: #aaa;
  padding: 1rem;
}
