.notification {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.99);
  border-radius: .2rem;
  border: 1px solid #BD3D39FF;
  padding: 1rem;
  margin: 1rem;
}

.error {
  background-color: #BD3D39;
}

.info {
  background-color: #A2C8E8;
  border: 1px solid #FFFFFF;
}
